@using System.Linq
@using System.Text.Json;
@inject IJSRuntime JS
@implements IDisposable

<div class="@FrameCSS">
    <div class="card">

        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="card-header bg-light border-bottom p-3">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-pretitle">
                            @BoardType.ToSecureString()
                        </div>
                        <h2 class="page-title">
                            @Title.ToSecureString()
                        </h2>
                    </div>

                    @if (RelatedContent != null)
                    {
                        <div class="col-auto ps-3 d-flex">
                            @RelatedContent
                        </div>
                    }

                </div>
            </div>
        }

        <div class="card-body">
            <div class="row">
                <div class="col-auto p-3" style="width:50px;"></div>
                @foreach (IDTO column in Columns)
                {
                    <div class="col p-3 bg-light border-bottom">
                        <strong class="text-muted">@column.Title.ToSecureString()</strong>
                    </div>
                }
            </div>

            @foreach (IDTO row in Rows)
            {
                <div class="row">

                    <div class="col-auto p-3 bg-light border-end" style="width:50px;">
                        <strong class="text-muted verticalText">@row.Title.ToSecureString()</strong>
                    </div>

                    @foreach (IDTO column in Columns)
                    {
                        <div data-column="@column.Title.ToSecureString()"
                             data-row="@row.Title.ToSecureString()"
                             class="mhpx-150 col border-end border-bottom p-3 @dropableContainerClass">

                            @foreach (IDTO dto in Items)
                            {
                                @if (dto.GetProperty("Column").Value == column.Title)
                                {
                                    @if (dto.GetProperty("Row").Value == row.Title)
                                    {
                                        <FlexItem DTO="@dto" DragableItemClass="@draggableItemClass"
                                                  RowItemType="Category" ColumnItemType="Status"
                                                  BoardType="Backlog" Row="@row.Title" Column="@column.Title" />
                                    }
                                }
                            }

                        </div>
                    }
                </div>
            }

            <div class="row p-1 mb-3">
                <strong class="text-muted m-1">Backlog</strong>
                <div data-column="Backlog" data-row="Backlog"
                     class="border rounded mhpx-150 bg-light p-3 col @dropableContainerClass">

                    @foreach (IDTO dto in Items)
                    {
                        @if (dto.GetProperty("Column").Value == "Backlog")
                        {
                            @if (dto.GetProperty("Row").Value == "Backlog")
                            {
                                <FlexItem DTO="@dto" DragableItemClass="@draggableItemClass"
                                          RowItemType="Category" ColumnItemType="Status"
                                          BoardType="Backlog" Row="Backlog" Column="Backlog" />
                            }
                        }
                    }

                </div>
            </div>

        </div>
        <div class="card-footer">

        </div>
    </div>
</div>


@code {

    [Parameter]
    public string FrameCSS { get; set; } = "container-fluid";

    // Objects
    private Lazy<Task<IJSObjectReference>> module;
    private DotNetObjectReference<Board>? objRef;

    // Fields
    string draggableItemClass = "dragglableItem";
    string dropableContainerClass = "dropableContainer";

    // Properties
    [Parameter]
    public string Title { get; set; } = "Product";

    [Parameter]
    public string BoardType { get; set; } = "Board";

    [Parameter]
    public List<IDTO> Columns { get; set; } = new List<IDTO>();

    [Parameter]
    public List<IDTO> Rows { get; set; } = new List<IDTO>();

    [Parameter]
    public List<IDTO> Items { get; set; } = new List<IDTO>();

    // Areas
    [Parameter]
    public RenderFragment RelatedContent { get; set; }

    // CTR
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Init();
    }

    // Methods
    public void Init()
    {
        // Import JS File
        module = new(() => JS.InvokeAsync<IJSObjectReference>("import", "./_content/ELEMENTS.Controls/DragDrop.js").AsTask());
    }
    public async ValueTask Assign()
    {
        // Reference
        objRef = DotNetObjectReference.Create(this);

        // Execute function
        if (module != null)
        {
            var refMethod = await module.Value;
            await refMethod.InvokeVoidAsync("assignMultipleSortableJS",
                dropableContainerClass, draggableItemClass, objRef);
        }
    }

    // JS Methods
    [JSInvokable]
    public async void OnSortOrderChanged(JsonElement json)
    {
        try
        {
            // string div = json.GetProperty("DIV").GetString();
            await SortOrderChanged.InvokeAsync(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }

    }

    [JSInvokable]
    public async void OnItemAdded(JsonElement json)
    {
        try
        {
            // string div = json.GetProperty("DIV").GetString();
            await ItemAdded.InvokeAsync(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    [JSInvokable]
    public async void OnItemChanged(JsonElement json)
    {
        try
        {
            // string div = json.GetProperty("DIV").GetString();
            await ItemChanged.InvokeAsync(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    [JSInvokable]
    public async void OnDragEnd(JsonElement json)
    {
        try
        {
            // string div = json.GetProperty("DIV").GetString();
            await DragEnd.InvokeAsync(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    [JSInvokable]
    public async void OnItemRemoved(JsonElement json)
    {
        try
        {
            // string div = json.GetProperty("DIV").GetString();
            await ItemRemoved.InvokeAsync(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    // Callback
    [Parameter]
    public EventCallback<JsonElement> ItemChanged { get; set; }

    [Parameter]
    public EventCallback<JsonElement> ItemAdded { get; set; }

    [Parameter]
    public EventCallback<JsonElement> SortOrderChanged { get; set; }

    [Parameter]
    public EventCallback<JsonElement> DragEnd { get; set; }

    [Parameter]
    public EventCallback<JsonElement> ItemRemoved { get; set; }

    // Events
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        try
        {
            // assign dragdrop
            await Assign();
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    // Dispose
    public async ValueTask DisposeAsync()
    {
        try
        {
            if (module.IsValueCreated)
            {
                var dispo = await module.Value;
                await dispo.DisposeAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

    public void Dispose()
    {
        try
        {
            if (module.IsValueCreated)
            {
                var dispo = module.Value;
                dispo.Dispose();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }

}
