@inject NavigationManager nm


    <nav class="@ControlCSS">

        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="pt-3 px-3 pb-1">
                <strong>@Title</strong>
            </div>
        }

        @if (!string.IsNullOrEmpty(SubTitle))
        {
            <div class="px-3 pb-2">
                <small class="text-muted">@SubTitle</small>
            </div>
        }

        @if (Entries != null)
        {
            @if (Entries.Count >= 1)
            {
                <div class="border-bottom">
                    @foreach (NavigationEntry entry in Entries)
                    {
                        @if (entry.Items == null || entry.Items.Count == 0)
                        {
                            <a href="@entry.Link" class="@NavigationItemCSS">@entry.Title</a>
                        }
                        else
                        {
                            <details>
                                <summary class="@NavigationItemCSS">@entry.Title </summary>

                                <div class="bg-light">
                                    @foreach (NavigationEntry child in entry.Items)
                                    {
                                        <a href="@child.Link" class="@NavigationItemCSS">@child.Title</a>
                                    }
                                </div>

                            </details>
                        }
                    }
                </div>
            }
        }

        @if (ChildContent != null)
        {
            <div>
                @ChildContent
            </div>
        }

    </nav>

  



@code {



    [Parameter]
    public List<NavigationEntry> Entries { get; set; } = new List<NavigationEntry>();

    [Parameter]
    public string ControlCSS { get; set; } = "bg-white"; // list-group-flush

    [Parameter]
    public string NavigationItemCSS { get; set; } = "dropdown-item";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; } = "Title";

    [Parameter]
    public string SubTitle { get; set; } = "SubTitle";

}
