@inject NavigationManager nm


    <div class="card card-md">
        <div class="card-body">

            <h2 class="card-title text-center mb-4">@FormTitle</h2>

            @if (!string.IsNullOrEmpty(FormInformation))
            {
                <div class="mb-1">
                    <p>@FormInformation</p>
                </div>
            }

            <div class="mb-3">
                <label class="form-label">@NameLabel</label>
                <input type="text" class="@ControlCSS" placeholder="@NamePlaceholder" 
                       @onchange="@( e => { Name = e.Value.ToSecureString(); })">
            </div>

            <div class="mb-3">
                <label class="form-label">@MailLabel</label>
                <input type="email" class="@ControlCSS" placeholder="@MailPlaceholder" 
                       @onchange="@( e => { Mail = e.Value.ToSecureString(); })">
            </div>

            <div class="mb-3">
                <label class="form-label">@PasswordLabel</label>
                <div class="input-group input-group-flat">
                    <input type="password" class="@ControlCSS" placeholder="@PasswordPlaceholder" autocomplete="off"  
                           @onchange="@( e => { Pwd = e.Value.ToSecureString(); })">
                    <span class="input-group-text bg-light">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">@MessageLabel</label>
                <div class="input-group input-group-flat">
                    <textarea class="@ControlCSS" autocomplete="off" rows="3"
                           @onchange="@( e => { Message = e.Value.ToSecureString(); })" ></textarea>
                </div>
            </div>

            @if (ShowTermsPolicyCheck == true)
            {
                <div class="mb-3">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" 
                               @onchange="@( e => { AcceptAgreements = ConvertToSecureBool(e.Value);  })">
                        <span class="form-check-label"><a href="@TermsPolicyLink" target="_blank" tabindex="-1">@TermsPolicyLabel</a></span>
                    </label>
                </div>
            }

            <div class="form-footer">
                <button type="button" class="@ButtonCSS" @onclick="click">@SignUpButtonLabel</button>
            </div>
        </div>
    </div>




@code {


    [Parameter]
    public string ControlCSS { get; set; } = "form-control";

    [Parameter]
    public string ButtonCSS { get; set; } = "btn btn-primary w-100";


    // Form
    [Parameter]
    public string FormTitle { get; set; } = "Request access";

    [Parameter]
    public string FormInformation { get; set; } = "Please use this form to request access to this website.";

    // Name
    [Parameter]
    public string NameLabel { get; set; } = "Name";

    [Parameter]
    public string NamePlaceholder { get; set; } = "Enter name";

    // Mail
    [Parameter]
    public string MailLabel { get; set; } = "Email address";

    [Parameter]
    public string MailPlaceholder { get; set; } = "Enter email";

    // Password
    [Parameter]
    public string PasswordLabel { get; set; } = "Password";

    [Parameter]
    public string PasswordPlaceholder { get; set; } = "Enter password";

    // Message
    [Parameter]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public string MessageLabel { get; set; } = "Message";




    [Parameter]
    public string TermsPolicyLabel { get; set; } = "Agree the terms and policy.";

    [Parameter]
    public string TermsPolicyLink { get; set; } = "./terms-of-service.html";


    [Parameter]
    public bool ShowTermsPolicyCheck { get; set; } = true;

    // Sign Int
    [Parameter]
    public string SignUpButtonLabel { get; set; } = "Request access";

    private string Name = string.Empty;
    private string Mail = string.Empty;

    private string Pwd = string.Empty;
    private bool AcceptAgreements = false;

    [Parameter]
    public EventCallback<AuthentificationFeedback> OnRequestAccessClicked { get; set; }

    private void click()
    {
        AuthentificationFeedback fb = new AuthentificationFeedback();

        try
        {
            if (string.IsNullOrEmpty(Mail))
            {
                fb.Message = "E-Mail is empty";
            }
            if (string.IsNullOrEmpty(Pwd))
            {
                fb.Message = "Password is empty";
            }
            if (string.IsNullOrEmpty(Name))
            {
                fb.Message = "Name is empty";
            }
            if (ShowTermsPolicyCheck == true)
            {
                if (AcceptAgreements == false)
                {
                    fb.Message = "Agreements not accepted";
                }
            }

            fb.Name = Name;
            fb.Mail = Mail;
            fb.Password = Pwd;
            fb.Content = Message;

            if (ShowTermsPolicyCheck == true)
            {
                fb.AcceptAgreements = AcceptAgreements;
            }

            if (!string.IsNullOrEmpty(Mail) &&
                !string.IsNullOrEmpty(Name) &&
                !string.IsNullOrEmpty(Pwd))
            {
                if (ShowTermsPolicyCheck == true)
                {
                    if (AcceptAgreements == true)
                    {
                        fb.Status = "OK";
                    }
                }
                else
                {
                    fb.Status = "OK";
                }
            }
        }
        catch (Exception ex)
        {
            fb.Message = "Error: " + ex.Message;
        }
        finally
        {
            OnRequestAccessClicked.InvokeAsync(fb);
        }
    }

    bool ConvertToSecureBool(object obj)
    {
        try
        {
            return Convert.ToBoolean(obj);
        }
        catch (Exception ex)
        {

        }
        return false;
    }
}
