<div class="@ContainerCSS">
    <div class="@SidebarCSS">
        @Sidebar
    </div>

    <div class="main">
        <div class="@HeaderCSS">
            @Header
        </div>

        <div class="@MenuCSS">
            @Menu
        </div>

        <div class="@ContentCSS">
            @ChildContent
        </div>

        @if (Footer != null)
        {
            <div class="@FooterCSS">
                @Footer
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string ContainerCSS { get; set; } = "page";

    [Parameter]
    public RenderFragment Sidebar { get; set; }

    [Parameter]
    public string SidebarCSS { get; set; } = "sidebar bg-dark";

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public string HeaderCSS { get; set; } = "top-row px-3 py-2 bg-white";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ContentCSS { get; set; } = "content px-3 pb-3";

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public string FooterCSS { get; set; } = "";

    [Parameter]
    public RenderFragment Menu { get; set; }

    [Parameter]
    public string MenuCSS { get; set; } = "";

}