@inject NavigationManager nm

<footer class="@ContainerCSS">
    <div class="@ControlCSS">

        @if (HeaderContent != null)
        {
            @HeaderContent
        }

        @if (ChildContent != null)
        {
            @ChildContent
        }

        @if (DTO != null)
        {
            @if (DTO.Groups != null)
            {
                <div class="row">

                    @if (ShowAsDropDown)
                    {
                        @foreach (IFooterGroup group in DTO.Groups)
                        {
                            <div class="@GroupCSS">
                                <details open>
                                    <summary class="border-bottom"><h4 class="@GroupTitleCSS">@group.GroupTitle</h4></summary>
                                    @if (group.Links != null)
                                    {
                                        @foreach (IFooterLink link in group.Links)
                                        {
                                            @try
                                            {
                                                <div class="row pt-2">
                                                    <div class="col">
                                                        <a class="@LinkCSS" href="@link.LinkUrl" target="_blank">@link.LinkTitle</a>
                                                    </div>
                                                </div>
                                            }
                                            catch (Exception ex)
                                            {
                                                Console.WriteLine("Fehler: " + ex.Message);
                                            }
                                        }
                                    }
                                </details>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (IFooterGroup group in DTO.Groups)
                        {
                            <div class="@GroupCSS">
                                <h4 class="@GroupTitleCSS">@group.GroupTitle</h4>

                                @if (group.Links != null)
                                {
                                    @foreach (IFooterLink link in group.Links)
                                    {
                                        @try
                                        {
                                            <div class="row">
                                                <div class="col">
                                                    <a class="@LinkCSS" href="@link.LinkUrl" target="_blank">@link.LinkTitle</a>
                                                </div>
                                            </div>
                                        }
                                        catch (Exception ex)
                                        {
                                            Console.WriteLine("Fehler: " + ex.Message);
                                        }
                                    }
                                }
                            </div>
                        }
                    }

                </div>
            }
        }

        @if (FooterContent != null)
        {
            @FooterContent
        }
    </div>
</footer>

@code {


    /// <summary>
    /// Defines or sets a CSS class that controls the CSS style of the control. The default value is: form-control
    /// </summary>
    [Parameter]
    public string ControlCSS { get; set; } = "footer mt-auto py-3";

    [Parameter]
    public string ContainerCSS { get; set; } = "container-flex";

    [Parameter]
    public string GroupCSS { get; set; } = "col-lg mx-auto px-3 mb-2";

    [Parameter]
    public string GroupTitleCSS { get; set; } = "h3";

    [Parameter]
    public string LinkCSS { get; set; } = "";

    [Parameter]
    public RenderFragment HeaderContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment FooterContent { get; set; }

    [Parameter]
    public bool ShowAsDropDown { get; set; } = true;

    [Parameter]
    public IFooter DTO { get; set; }

}
