@inject NavigationManager nm

<footer class="@ControlCSS">
    <div class="@ContainerCSS">

        @if (ChildContent != null)
        {
            @ChildContent
        }

        @if (DTO != null)
        {
            @if (DTO.Groups != null)
            {
                <div class="row">
                    @foreach (IFooterGroup group in DTO.Groups)
                    {
                    <div class="@GroupCSS">
                        <h4 class="@GroupTitleCSS">@group.GroupTitle</h4>

                        @if (group.Links != null)
                        {
                            @foreach (IFooterLink link in group.Links)
                            {
                                @try
                                {
                                    <div class="row">
                                        <div class="col">
                                            <a class="@LinkCSS" href="@link.LinkUrl" target="_blank">@link.LinkTitle</a>
                                        </div>
                                    </div>
                                }
                                catch (Exception ex)
                                {
                                    Console.WriteLine("Fehler: " + ex.Message);
                                }
                            }
                        }
                    </div>
                    }
                </div>
            }
        }
    </div>
</footer>

@code {


    /// <summary>
    /// Defines or sets a CSS class that controls the CSS style of the control. The default value is: form-control
    /// </summary>
    [Parameter]
    public string ControlCSS { get; set; } = "footer mt-auto py-3";

    [Parameter]
    public string ContainerCSS { get; set; } = "container";

    [Parameter]
    public string GroupCSS { get; set; } = "col mx-auto px-3";

    [Parameter]
    public string GroupTitleCSS { get; set; } = "h3";

    [Parameter]
    public string LinkCSS { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IFooter DTO { get; set; }

}
