
<div class="@BackgroundCSS">
    <div class="@ContainerCSS">
        <div class="row">
            <div class="col pt-5 pb-3">

                @if (!string.IsNullOrEmpty(Title))
                {
                    <h1 class="display-6 text-center">@Title</h1>
                }

                @if (!string.IsNullOrEmpty(Description))
                {
                    <p class="fs-3 text-center">@Description</p>
                }

            </div>
        </div>

        <div class="row">
            <div class="col-3 p-3">

                <div class="hero-image"
                     style="height: @Height; width: @Width; background-image: url(@ImageUrl);">
                </div>

                <h4 class="h4 text-center">@SubTitle</h4>
                <p class="lead text-center">@SubText</p>
            </div>
            <div class="col-3 p-3">
                <div class="hero-image"
                     style="height: @Height; width: @Width; background-image: url(@ImageUrl);">
                </div>

                <h4 class="h4 text-center">@SubTitle</h4>
                <p class="lead text-center">@SubText</p>
            </div>
            <div class="col-3 p-3">
                <div class="hero-image"
                     style="height: @Height; width: @Width; background-image: url(@ImageUrl);">
                </div>

                <h4 class="h4 text-center">@SubTitle</h4>
                <p class="lead text-center">@SubText</p>
            </div>
            <div class="col-3 p-3">
                <div class="hero-image"
                     style="height: @Height; width: @Width; background-image: url(@ImageUrl);">
                </div>

                <h4 class="h4 text-center">@SubTitle</h4>
                <p class="lead text-center">@SubText</p>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string BackgroundCSS { get; set; } = "bg-white";

    [Parameter]
    public string ContainerCSS { get; set; } = "container";

    [Parameter]
    public string Title { get; set; } = "How to";

    [Parameter]
    public string Description { get; set; } = "Our component library provides state-of-the-art solutions for startups and enterprises. It includes more than 90 components that make developers work easier.";

    /// <summary>
    /// Defines or sets a CSS class that controls the CSS style of the control. The default value is: string.empty
    /// </summary>
    [Parameter]
    public string ControlCSS { get; set; } = string.Empty;

    /// <summary>
    /// Defines or sets the Url of the Image control.
    /// The property is initialized with "string.Empty".
    /// </summary>
    [Parameter]
    public string ImageUrl { get; set; } = string.Empty;

    /// <summary>
    /// The height and width can be specified, for example, in 100px (pixels) or also in 100% (percent).
    /// Example: 100px or 100%. The default value for width is 100% (percent)
    /// </summary>
    [Parameter]
    public string Width { get; set; } = "100%";

    /// <summary>
    /// The height and width can be specified, for example, in 100px (pixels) or also in 100% (percent).
    /// Example: 100px or 100%. The default value for height is 300px (pixel)
    /// </summary>
    [Parameter]
    public string Height { get; set; } = "300px";

    [Parameter]
    public string SubTitle { get; set; } = "Easy to use";

    [Parameter]
    public string SubText { get; set; } = "Our components are intuitive and easy to use, and you will find many standard APIs among them.";

}
