
@if (InterfaceRepository != null)
{
    @if (InterfaceRepository.IsInitialized)
    {
        <div class="@((Border == true) ? " border bg-white " : " bg-white ")">

            <div class="row">

                @if (InterfaceRepository.Fields != null)
                {
                    @foreach (EditField field in InterfaceRepository.Fields)
                    {
                        <div class="@field.ColumnCSSClass">
                            <EditComponent Field="@field" EditRepository="@EditRepository" Border="@ItemBorder" />
                        </div>
                    }
                }

            </div>
        </div>
    }
}
else
{
    <p>Interface Repository is empty</p>
}


@code {

    [Parameter]
    public IUserInterfaceRepository InterfaceRepository { get; set; }

    [Parameter]
    public IEditItemRepository EditRepository { get; set; }

    [Parameter]
    public bool Border { get; set; } = true;

    [Parameter]
    public bool ItemBorder { get; set; } = false;

}
