@page "/analytics"
@page "/charts"
@using ELEMENTS.Infrastructure


<div class="row">
    <div class="col">
        <h3 class="h1">Analytics, Charts and KPIs</h3>
        <button type="button" class="btn btn-primary" @onclick="@( e => { ChangeData(); } )">aktualisieren...</button>
    </div>
</div>

<div class="row">
    <div class="col px-3">

        <ELEMENTS.Controls.Text.Label Value="Pie" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                           Title="Company" 
                                           Legende="Turnover"
                                           Items="@Items"
                                           Typ="ChartType.Pie" />

    </div>
    <div class="col px-3">
        <ELEMENTS.Controls.Text.Label Value="Doughnut" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                           Title="Company"
                                           Legende="Turnover"
                                           Items="@Items"
                                           Typ="ChartType.Doughnut" />
        
    </div>
    <div class="col px-3">
        <ELEMENTS.Controls.Text.Label Value="Progress" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                           Title="Company"
                                           Legende="Turnover"
                                           Items="@Items"
                                           Typ="ChartType.Progress" />
        
    </div>
</div>

<div class="row">
    <div class="col px-3">

        <ELEMENTS.Controls.Text.Label Value="Line" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.Line" />

    </div>
    <div class="col px-3">
        <ELEMENTS.Controls.Text.Label Value="Area" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.Area" />

    </div>
    <div class="col px-3">
        <ELEMENTS.Controls.Text.Label Value="StepLine" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.StepLine" />

    </div>
</div>

<div class="row">
    <div class="col p-3">





        <ELEMENTS.Controls.Text.Label Value="Row" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.HorizontalBar" />

        <ELEMENTS.Controls.Text.Label Value="Polar" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.PolarArea" />


    </div>
    <div class="col p-3">


        <ELEMENTS.Controls.Text.Label Value="Bar" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.VerticalBar" />

          <ELEMENTS.Controls.Text.Label Value="Radar" />
        <ELEMENTS.Controls.Charts.GenericChartJS @ref="@genChart"
                                                 Title="Company"
                                                 Legende="Turnover"
                                                 Items="@Items"
                                                 Typ="ChartType.Radar" />

    </div>
    <div class="col p-3">



        <ELEMENTS.Controls.Text.Label Value="Step Line Chart" />
        <ELEMENTS.Controls.Charts.StepLineChart Title="Company" Legende="Turnover"
                                                Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

        <ELEMENTS.Controls.Text.Label Value="KPI List" />
        <ELEMENTS.Controls.KPI.KpiList Items="@( new List<KpiListItem>()  {
                        new KpiListItem { KPI = "Turnover", Value="100.000 EUR" },
                        new KpiListItem { KPI = "Cost", Value="90.000 EUR" },
                        new KpiListItem { KPI = "Value", Value="10.000 EUR" }
                        })" />

        <ELEMENTS.Controls.Text.Label Value="KPI Item" />
        <ELEMENTS.Controls.KPI.KpiItem KPI="Turnover" Value="30.000 EUR" />

        <ELEMENTS.Controls.Text.Label Value="KPI Panel" />
        <ELEMENTS.Controls.KPI.KpiPanel KPI="Turnover" Value="30.000 EUR" Description="Turnover current year" />

        <ELEMENTS.Controls.Text.Label Value="KPI Trend Symbol" />
        <ELEMENTS.Controls.KPI.KPITrend />


    </div>
</div>

<div class="row">
    <div class="col p-3">


    </div>
    <div class="col p-3">


    </div>
    <div class="col p-3">


    </div>
</div>



@code {

    private List<ChartItemDTO> Items { get; set; } = new List<ChartItemDTO>();

    private ELEMENTS.Controls.Charts.PieChart pieChart;
    private ELEMENTS.Controls.Charts.GenericChartJS genChart;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Items = new List<ChartItemDTO>
        {
                                    new ChartItemDTO { Key = "Microsoft", Value = 22 },
                                    new ChartItemDTO { Key = "Apple", Value = 33 },
                                    new ChartItemDTO { Key = "Oracle", Value = 44 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 66 },
                                    new ChartItemDTO { Key = "Space X", Value = 55 },
                                    new ChartItemDTO { Key = "Amazon", Value = 44 },
                                    new ChartItemDTO { Key = "NVidia", Value = 33 },
                                };
    }

    private async Task ChangeData()
    {
        Items = new List<ChartItemDTO>
        {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                };

        await genChart.LoadChart();

        await Task.FromResult<string>("OK");
    }

}
