@page "/analytics"



<div class="row">
    <div class="col">
        <h3 class="h1">Analytics, Charts and KPIs</h3>
    </div>
</div>

<div class="row">
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Line Chart" />
        <ELEMENTS.Controls.Charts.LineChart Title="Company" Legende="Turnover"
                                            Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

              <ELEMENTS.Controls.Text.Label Value="Pie Chart" />
        <ELEMENTS.Controls.Charts.PieChart Title="Company" Legende="Turnover"
                                           Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

        <ELEMENTS.Controls.Text.Label Value="Horizontal Bar Chart" />
        <ELEMENTS.Controls.Charts.BarHorizontalChart Title="Company" Legende="Turnover"
                                                     Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

  

        <ELEMENTS.Controls.Text.Label Value="Polar Area Chart" />
        <ELEMENTS.Controls.Charts.PolarAreaChart Title="Company" Legende="Turnover"
                                           Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />


    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label Value="Area Chart" />
        <ELEMENTS.Controls.Charts.AreaChart Title="Company" Legende="Turnover"
                                            Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />



        <ELEMENTS.Controls.Text.Label Value="Doughnut Chart" />
        <ELEMENTS.Controls.Charts.DoughnutChart Title="Company" Legende="Turnover"
                                                Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

        <ELEMENTS.Controls.Text.Label Value="Vertical Bar Chart" />
        <ELEMENTS.Controls.Charts.BarVerticalChart Title="Company" Legende="Turnover"
                                                   Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

        <ELEMENTS.Controls.Text.Label Value="Radar Chart" />
        <ELEMENTS.Controls.Charts.RadarChart Title="Company" Legende="Turnover"
                                             Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

    </div>
    <div class="col p-3">



        <ELEMENTS.Controls.Text.Label Value="Step Line Chart" />
        <ELEMENTS.Controls.Charts.StepLineChart Title="Company" Legende="Turnover"
                                                Items="@( new List<ChartItemDTO>()  {
                                    new ChartItemDTO { Key = "Microsoft", Value = 75 },
                                    new ChartItemDTO { Key = "Apple", Value = 50 },
                                    new ChartItemDTO { Key = "Oracle", Value = 45 },
                                    new ChartItemDTO { Key = "IBM", Value = 55 },
                                    new ChartItemDTO { Key = "TESLA", Value = 45 },
                                    new ChartItemDTO { Key = "Space X", Value = 25 },
                                    new ChartItemDTO { Key = "Amazon", Value = 15 },
                                    new ChartItemDTO { Key = "NVidia", Value = 55 },
                                })" />

        <ELEMENTS.Controls.Text.Label Value="Progress Chart" />
        <ELEMENTS.Controls.Charts.ProgressChart Title="Progress" Legende="Status" />

        <ELEMENTS.Controls.Text.Label Value="KPI List" />
        <ELEMENTS.Controls.KPI.KpiList Items="@( new List<KpiListItem>()  {
                        new KpiListItem { KPI = "Turnover", Value="100.000 EUR" },
                        new KpiListItem { KPI = "Cost", Value="90.000 EUR" },
                        new KpiListItem { KPI = "Value", Value="10.000 EUR" }
                        })" />

        <ELEMENTS.Controls.Text.Label Value="KPI Item" />
        <ELEMENTS.Controls.KPI.KpiItem KPI="Turnover" Value="30.000 EUR" />

        <ELEMENTS.Controls.Text.Label Value="KPI Panel" />
        <ELEMENTS.Controls.KPI.KpiPanel KPI="Turnover" Value="30.000 EUR" Description="Turnover current year" />

        <ELEMENTS.Controls.Text.Label Value="KPI Trend Symbol" />
        <ELEMENTS.Controls.KPI.KPITrend />


    </div>
</div>

<div class="row">
    <div class="col p-3">


    </div>
    <div class="col p-3">


    </div>
    <div class="col p-3">


    </div>
</div>



@code {

}
