@page "/lists"

@using ELEMENTS.Controls.Timeline

<div class="row">
    <div class="col">
        <h3 class="h1">Lists, Items and Media</h3>
    </div>
</div>


<div class="row">
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Add Item" />
        <ELEMENTS.Controls.Collection.AddItem Repository="@Repository"
                Title="Eintrag hinzufügen" 
                FieldHeader="Bezeichnung" 
                AppType="ELEMENTS" ItemType="Product" />

        <ELEMENTS.Controls.Text.Label Value="Items Collection" />
        <ELEMENTS.Controls.Collection.ItemsCollection Items="pets" Context="pet">
            <Header>
                <h2>ItemsCollection (Template Engine)</h2>
            </Header>
            <RowTemplate>
                <div class="row p-2 border-bottom">
                    <div class="col-auto">@pet.PetId</div>
                    <div class="col">@pet.Name</div>
                    <div class="col-auto">@pet.Size</div>
                </div>
            </RowTemplate>
            <Footer>
                <strong>ItemsCollection (Template Engine)</strong>
            </Footer>
        </ELEMENTS.Controls.Collection.ItemsCollection>

        <ELEMENTS.Controls.Text.Label Value="Items List" />
        <ELEMENTS.Controls.List.ItemsList Items="@(
                new List<IDTO>()
                    {
                        new DTO() { Title = "this is a very long text that should be truncated",
                                    Content = "this is a very long text that should be truncated",
                                    Creator = "ME and YOU", Modifier = "ME and YOU" },
                        new DTO() { Title = "2 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                        new DTO() { Title = "3 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                        new DTO() { Title = "4 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                        new DTO() { Title = "5 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                    })">

        </ELEMENTS.Controls.List.ItemsList>

        <ELEMENTS.Controls.Text.Label Value="Pagination" />
        <ELEMENTS.Controls.List.Pagination TotaPageCount="10" />

    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label Value="List" />
        <ELEMENTS.Controls.List.List Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />

        <ELEMENTS.Controls.Text.Label Value="Ordered List" />
        <ELEMENTS.Controls.List.OrderedList Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />

        <ELEMENTS.Controls.Text.Label Value="Bullet Point List" />
        <ELEMENTS.Controls.List.BulletPointList Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />
    </div>

    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label Value="Hero Image" />
        <ELEMENTS.Controls.Media.HeroImage ImageUrl="https://www.w3schools.com/howto/photographer.jpg" />

        <ELEMENTS.Controls.Text.Label Value="Avatar" />
        <ELEMENTS.Controls.Media.AvatarImage ImageUrl="https://www.w3schools.com/howto/photographer.jpg" />

        <ELEMENTS.Controls.Text.Label Value="Audio Player" />
        <ELEMENTS.Controls.Media.AudioPlayer AudioUrl="https://wiki.selfhtml.org/local/Europahymne.mp3" />

        <ELEMENTS.Controls.Text.Label Value="Video Player" />
        <ELEMENTS.Controls.Media.VideoPlayer VideoUrl="https://wiki.selfhtml.org/local/small.mp4" />

    </div>
</div>

<ELEMENTS.Controls.Text.Label Value="Vertical Timeline" />
<ELEMENTS.Controls.Timeline.VerticalTimeline Items="@TimeLineItems" />


@code {

    private IAddItemRepository Repository = new AddItemRepository();

    private List<TimeLineItem> TimeLineItems = new()
    {
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },
        new TimeLineItem { Date = DateTime.Now, Title = "Lorem ipsum dolor sit amet", Content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua." },

    };

    private List<Pet> pets = new()
    {
        new Pet { PetId = 2, Name = "Mr. Bigglesworth", Size = "21 kg" },
        new Pet { PetId = 4, Name = "Salem Saberhagen", Size = "21 kg" },
        new Pet { PetId = 7, Name = "K-9", Size = "21 kg" },
        new Pet { PetId = 2, Name = "Mr. Bigglesworth", Size = "21 kg" },
        new Pet { PetId = 4, Name = "Salem Saberhagen", Size = "21 kg" },
        new Pet { PetId = 7, Name = "K-9", Size = "21 kg" }
    };

    private class Pet
    {
        public int PetId { get; set; }
        public string Name { get; set; }
        public string Size { get; set; }
    }


}
