@page "/tabler"

<div class="row">
    <div class="col">
        <h3 class="h1">Controls</h3>
    </div>
</div>

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Display>this is a Tabler.IO Display 3</ELEMENTS.Controls.Text.Display>
        <ELEMENTS.Controls.Text.Heading>this is a Tabler.IO Heading h3</ELEMENTS.Controls.Text.Heading>
        <ELEMENTS.Controls.Text.Label>this is a Tabler.IO Label</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.Span>this is a Tabler.IO span, based on a HTML span</ELEMENTS.Controls.Text.Span>
        <ELEMENTS.Controls.Text.Lead>this is a Tabler.IO Lead based on a HTML p</ELEMENTS.Controls.Text.Lead>

        <ELEMENTS.Controls.Text.Label>Badge</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.Badge>this is a Tabler.IO Badge</ELEMENTS.Controls.Text.Badge>

        <ELEMENTS.Controls.Text.Label>Progress Bar with 33%</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.ProgressBar Value="33" />

        <ELEMENTS.Controls.Text.Label>Waiting Progress</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.WaitingProgress />
    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label>Text Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TextBox Value="this is a Tabler.IO input based TextBox" />

        <ELEMENTS.Controls.Text.Label>Text Area</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TextArea Value="this is a Tabler.IO textarea" />

        <ELEMENTS.Controls.Text.Label>Integer Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.IntegerBox Value="123" />

        <ELEMENTS.Controls.Text.Label>Decimal Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DecimalBox Value="123.45m" />

        <ELEMENTS.Controls.Text.Label>Money Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.MoneyBox Value="123.45m" />

        <ELEMENTS.Controls.Text.Label>Date Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DateBox />

        <ELEMENTS.Controls.Text.Label>Time Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TimeBox />

        <ELEMENTS.Controls.Text.Label>DateTime Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DateTimeBox />


    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label>Mail Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.EMailBox Value="Test@mail.com" />

        <ELEMENTS.Controls.Text.Label>Password Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.PasswordBox Value="Password" />

        <ELEMENTS.Controls.Text.Label>Hyperlink Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.HyperlinkBox Value="https://www.google.com" />


        <ELEMENTS.Controls.Text.Label>File Input</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.FileInputBox />


        <ELEMENTS.Controls.Text.Label>File DropZone</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.FileDragDropBox />
    </div>
</div>

<div class="row">
    <div class="col">
        <h3 class="h1">Selectors and Lists</h3>
    </div>
</div>

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label>Button</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.Button Value="Button" />

        <ELEMENTS.Controls.Text.Label>Toggle</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.Toggle Value="Toggle" />

        <ELEMENTS.Controls.Text.Label>CheckBox</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.CheckBox />

        <ELEMENTS.Controls.Text.Label>Switch</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.Switch />

        <ELEMENTS.Controls.Text.Label>SELECT</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.DropDownSelect Items="@( new List<ELEMENTS.OptionItem>()
                                {
                                    new ELEMENTS.OptionItem { ID = "123", isSelected = true, Text ="123", Value = "123" },
                                    new ELEMENTS.OptionItem { ID = "234", isSelected = false, Text ="234", Value = "234" },
                                    new ELEMENTS.OptionItem { ID = "345", isSelected = false, Text ="345", Value = "345" }
                                })" />

        <ELEMENTS.Controls.Text.Label>Color Picker</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.ColorPicker />

        <ELEMENTS.Controls.Text.Label>Slider</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Selection.Slider Value="30" Min="0" Max="100" />

     
    
    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label>Placeholder</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Devider.Placeholder Count="3" />

        <ELEMENTS.Controls.Text.Label>Devider</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Devider.Devider />

        <ELEMENTS.Controls.Text.Label>Text Devider</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Devider.TextDevider Value="This is a Text Devider" />
    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Items List" />
        <ELEMENTS.Controls.List.ItemsList Items="@(
                new List<IDTO>()
                    {
                        new DTO() { Title = "this is a very long text that should be truncated",
                                    Content = "this is a very long text that should be truncated",
                                    Creator = "ME and YOU", Modifier = "ME and YOU" },
                        new DTO() { Title = "2 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                        new DTO() { Title = "3 Elemente", Content = "Content", Creator = "ME and YOU", Modifier = "ME and YOU"  },
                    })">

        </ELEMENTS.Controls.List.ItemsList>

        <ELEMENTS.Controls.Text.Label Value="Pagination" />
        <ELEMENTS.Controls.List.Pagination TotaPageCount="10" />

        <ELEMENTS.Controls.Text.Label Value="List" />
        <ELEMENTS.Controls.List.List Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />

        <ELEMENTS.Controls.Text.Label Value="Ordered List" />
        <ELEMENTS.Controls.List.OrderedList Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />

        <ELEMENTS.Controls.Text.Label Value="Bullet Point List" />
        <ELEMENTS.Controls.List.BulletPointList Items="@( new List<string>() { "New York", "Washington D.C.", "Chicago" })" />

    </div>
</div>

@code {

}
