@typeparam TItem
@using System.Diagnostics.CodeAnalysis


<div class="@ControlCSS">

    @if (Header != null)
    {
        <div class="@HeaderCSS">@Header</div>
    }

    @if (Info != null)
    {
        <div class="@InfoCSS">@Info</div>
    }

    <div class="@(BodyCSS + " " + ((Items.Count >= 1) ? ((ShowFirstBorder) ? " border-top " : "") : ""))">
        @foreach (var item in Items)
        {
            @if (RowTemplate != null)
            {
                @RowTemplate(item)
            }
            @if (RowTemplate == null)
            {
                <div class="row">
                    <div class="col">Row Template is null</div>
                </div>
            }
        }
    </div>

    @if (Secondary != null)
    {
        <div class="@SecondaryCSS">@Secondary</div>
    }

    @if (Footer != null)
    {
        <div class="@FooterCSS">@Footer</div>
    }
</div>

@code
{

    [Parameter]
    public bool ShowFirstBorder { get; set; } = false;

    [Parameter]
    public string ControlCSS { get; set; } = "card";

    [Parameter]
    public string HeaderCSS { get; set; } = "card-header";

    [Parameter]
    public string InfoCSS { get; set; } = "";

    [Parameter]
    public string SecondaryCSS { get; set; } = "";

    [Parameter]
    public string FooterCSS { get; set; } = "bg-light p-2 border-top";

    [Parameter]
    public string BodyCSS { get; set; } = "card-body";

    [Parameter, AllowNull]
    public RenderFragment Header { get; set; }

    [Parameter, AllowNull]
    public RenderFragment Info { get; set; }

    [Parameter, AllowNull]
    public RenderFragment Secondary { get; set; }

    [Parameter, AllowNull]
    public RenderFragment Footer { get; set; }

    [Parameter, AllowNull]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> Items { get; set; }
}